html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#canvas-container {
  width: 100%;
  text-align:center;
}

canvas {
  display: inline;
}

.container{
  width: 100%;
}

.leftContainer{
  float: left;
  width: 50%;
}

.rightContainer{
  float: right;
  width: 50%;
}

.controls{
  text-align:center
}


body {
  background-color: rgba(255, 255, 255, 0.856);
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}
