html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#canvas-container {
  width: 100%;
  text-align:center;
}

canvas {
  display: inline;
}

.container{
  width: 100%;
}

.leftContainer{
  // float: left;
  width: 50%;
  margin-left: 2pc;
}

.rightContainer{
  float: right;
  width: 40%;
}

.controls{
  text-align:center
}


body {
  background-color: rgba(255, 255, 255, 0.856);
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 20px;
  grid-template-areas:
    "Controls Chart Chart Info"
    "Controls Chart Chart Info"
    ". SaveLoad SaveLoad .";
}
.Chart { grid-area: Chart; }
.Controls { grid-area: Controls; }
.Info { grid-area: Info; }
.SaveLoad { grid-area: SaveLoad; }
